

.recentProjectSection, .projectsDisplay {
    grid-column: 1 / -1; 
    display: block;
    width: 100%;
}


.projectsSection {
  grid-column: 1 / -1;
  padding: 60px 20px;          /* spacing around the section */
}


.projectsSection .mainHeading {
  font-size: 2.4rem;
  margin-bottom: 24px;
}

.projectsGrid {
  display: block;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
  align-items: centre;
}

.recentProjectGridList {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* exactly 2 columns */
  gap: 24px;          
  padding: 0;
  margin: 0;
  list-style: none;
  align-items: start;
  box-shadow: 15px 10px 10px rgba(51, 51, 51, 0.245);
}

.recentProjectGridListItem {
  grid-row: auto;    
  width: 100%;
  height: 100%;
  padding: 20px;
  border: 0.5px solid #646464;
  background: rgba(100,100,100,0.05);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 20px;
  box-shadow: 15px 10px 10px rgba(51,51,51,0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  transition: all 0.3s ease;
  margin: 0;  

}

 .recentProjectGridListItem:first-child {
     grid-column: 1 / -1; 
    } 

  .recentProjectGridListItem:nth-child(4) {
     grid-column: 1 / -1;
    }


.recentProjectImage{
  display: block;     
  max-width: 100%;
  inset: 0;
  object-fit: cover;
  object-position: center;
  opacity: 0.9;
}

.recentProjectVideo {
  display: block;     
  max-width: 100%;
  inset: 0;
  object-fit: cover;
  object-position: center;
  opacity: 0.9;
}

.projectGridList{
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* exactly 2 columns */
  gap: 24px;          
  padding: 0;
  margin: 0;
  list-style: none;
  align-items: start;
}

.projectGridItem {
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}


.projectGridListItem {
  grid-row: auto;    
  width: 100%;
  height: 100%;
  padding: 20px;
  border: 0.5px solid #646464;
  background: rgba(100,100,100,0.05);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 20px;
  box-shadow: 15px 10px 10px rgba(51, 51, 51, 0.245);
  transition: all 0.3s ease;
  margin: 0;   
}



.full-width {
  grid-column: 1 / -1; 
}

.double-width {
  grid-column: span 2; 
}

/* Responsive adjustments */
@media (max-width: 768px) {

.recentProjectGridList {
    grid-template-columns: 1fr;
  }

  .double-width {
    grid-column: 1 / -1; 
  }
  
  .media-grid {
    grid-template-columns: 1fr;
  }
}